<h2><%= t('view.profiles.mypage') %></h2>
<p><%= notice %></p>

<table>
  <tr>
    <th><%= t('view.profiles.name') %></th>
    <th><%= t('view.affiliations.affiliation') %></th>
    <th><%= t('view.profiles.hire_date') %></th>
    <th><%= t('view.profiles.job') %></th>
  </tr>

  <tr>
    <td><%= @user.profile.name %></td>
    <% @user.affiliation_divisions.each do |division| %>
      <td><%= division.name%></td>
    <% end %> 
    <td><%= @user.profile.hire_date %></td>
    <td><%= @user.profile.job %></td>
  </tr>
</table>

<h4><%= t('view.relationships.subordinate') %></h4>
<% @user.teaching.each do |subordinate| %>
  <tr>
    <td><%= subordinate.profile.name %></td>
    <td><%= link_to t('view.relationships.destroy'), relationship_path(choise_id(subordinate.id)),
      method: :delete %></td>
  </tr>
<% end %> 


<h4><%= t('view.relationships.add') %></h4>

<%= form_with(model: @relationship, url: {controller: 'relationships', action: 'create' }, local: true) do |form| %>

  <div class="subordinate_name">
    <%= form.label t('view.relationships.subordinate') %>
    <br>
    <%= form.select :subordinate_id,  User.all.collect { |user| [ user.profile.name, user.id ] }%>
  </div>
  <%= form.submit t('helpers.submit.add') %>
<% end %>


<%= link_to t('view.profiles.edit'), edit_user_registration_path %>