<h2><%= t('view.profiles.mypage') %></h2>

<table>
  <tr>
    <th><%= t('view.profiles.name') %></th>
    <th><%= t('view.profiles.hire_date') %></th>
    <th><%= t('view.profiles.job') %></th>
  </tr>

  <tr>
    <td><%= @user.profile.name %></td>
    <td><%= @user.profile.hire_date %></td>
    <td><%= @user.profile.job %></td>
  </tr>
</table>