<h2><%= t('view.profiles.mypage') %></h2>
<p><%= notice %></p>

<table>
  <tr>
    <th><%= t('view.profiles.name') %></th>
    <th><%= t('view.affiliations.affiliation') %></th>
    <th><%= t('view.profiles.hire_date') %></th>
    <th><%= t('view.profiles.job') %></th>
  </tr>

  <tr>
    <td><%= @user.profile.name %></td>
    <% @user.affiliation_divisions.each do |division| %>
      <td><%= division.name%></td>
    <% end %> 
    <td><%= @user.profile.hire_date %></td>
    <td><%= @user.profile.job %></td>
  </tr>
</table>


<h4><%= t('view.relationships.add') %></h4>

<%= form_with(model: @division, local: true) do |form| %>

  <% if @division.errors.any? %>
    <div id="error_explanation">
      <h2><%= @division.errors.count %>
      <%= t('errors.messages.count') %></h2>
      <ul>

      <% @division.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="division_name">
    <%= affiliation.label t('view.affiliations.affiliation') %>
    <br>
    <%= affiliation.select :division_id,  Division.all.collect { |division| [ division.name, division.id ] }%>
  </div>
  
<% end %>


<%= link_to t('view.profiles.edit'), edit_user_registration_path %>