<div class="user-edit-container">
  <div class="profile-edit-title">
    <h2><%= t('.title', resource: resource.model_name.human) %></h2>
  <div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.fields_for :profile do |profile| %>
      <div class="profile-edit-form">
        <div class="profile-edit">
            <%= profile.label :name %>
          <br>
          <%= profile.text_field :name ,id: 'profile-edit-formsize'%>
        </div>
        <div class="profile-edit">
          <%= profile.label :hire_date %>
          <br>
          <%= profile.date_select :hire_date %>
        </div>
        <div class="profile-edit">
          <%= profile.label :job %>
          <br>
          <%= profile.text_field :job ,id: 'profile-edit-formsize' %>
        </div>
      <% end %>
      <%= f.fields_for :affiliations do |affiliation| %>
        <div class="profile-edit">
          <%= affiliation.label t('view.affiliations.affiliation') %>
          <br>
          <%= affiliation.select :division_id,  Division.all.collect { |division| [ division.name, division.id ] }, { prompt: t('view.affiliations.choice') }, id:'signup-division-edit' %>
        </div>
      <% end %>
      <div class="profile-edit">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,id: 'profile-edit-formsize'%>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="profile-edit">
        <%= f.label :password %> <br><i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" , placeholder: t('devise.shared.minimum_password_length', count: @minimum_password_length), id: 'profile-edit-formsize' %>
      </div>

      <div class="profile-edit">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,id: 'profile-edit-formsize' %>
      </div>

      <div class="profile-edit">
        <%= f.label :current_password %> <br><i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" ,id: 'profile-edit-formsize' %>
      </div>

      <div class="profile-edit">
        <div id="profile-edit-actions">
          <%= f.submit t('.update') %>
        </div>
      </div>
    <% end %>
    <div id="profile-edit-backlink">
      <%= link_to t('devise.shared.links.back'), :back %>
    </div>
  </div>
</div>