<div class="menu-container">
  <div class="mainmenu">
    <h1>Main menu</h1>
  </div>
  <div class="notice">
    <p><%= notice %></p>
  </div>
  <div class="menu-link">
    <br>
    <p><%= link_to t('view.navigation.sign_up'), new_user_registration_path %></p>
    <br>
    <p><%= link_to t('view.navigation.login'), new_user_session_path %></p>
    <br>
    <p><%= link_to t('view.guests.guest_login'), users_guest_sign_in_path, method: :post %></p>
    <br>
    <p><%= link_to t('view.guests.admin_guest_login'), users_admin_guest_sign_in_path, method: :post %></p>
  </div>
</div>