<div class="subject-container">
  <div class="subject-form-title">
    <h2><%= t('view.subjects.new_subject') %></h2>
  </div>

  <%= form_with(model: @subject, local: true) do |form| %>

    <% if @subject.errors.any? %>
      <div id="error_explanation">
        <h2><%= @subject.errors.count %>
        <%= t('errors.messages.count') %></h2>
        <ul>

        <% @subject.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="subject-username">
      <h4><%= t('view.users.name') %></h4>
      <p><%= User.find(params[:user_id]).profile.name %></p>
      <%= form.hidden_field :user_id, :value => params[:user_id] %>
    </div>
    <div class="subject-educationname">
      <h4><%= t('view.educations.education') %></h4>
      <p><%= Education.find(params[:education_id]).name %></p>
      <%= form.hidden_field :education_id, :value => params[:education_id] %>
    </div>
    <div class="subject-block">
      <h4 id="subject-name"><%= form.label :name %></h4>
      <p><%= form.text_field :name ,id:"subject-form" %></p>
    </div>
    <div class="subject-block">
      <p><%= form.label :status %>
      <%= form.select :status, Subject.statuses.keys %></p>
    </div>
    <div class="subject-block">
      <p id="deadline"><%= form.label :deadline %>
      <%= form.date_select :deadline, include_blank: "" %></p>
    </div>
    <div class="subject-block">
      <p id="subject-submit"><%= form.submit t('helpers.submit.create') %></p>
    </div>
  <% end %>
    <div class="subject-block">
      <p id="subject-link"><%= link_to t('helpers.back'), :back %></p>
    </div>
</div>