<div class="subject-show-container">
  <div class="subject-show-title">
    <h2><%= @subject.user.profile.name %>
    <%= t('view.share.conjunction') %>
    <%= @subject.name %>
    <%= t('view.share.conjunction') %>
    <%= t('view.share.page') %></h2>
  </div>
  <div class="subject-notice">
    <p><%= notice %></p>
  </div>
  <div class="subject-show-table">
    <table>
      <tr>
          <th><%= link_to t('view.teachings.date'), subject_path(@subject.id, sort_date: "true") %></th>
          <th><%= link_to t('view.teachings.educator'), subject_path(@subject.id, sort_educator: "true") %></th>
          <th><%= t('view.teachings.title') %></th>
          <% unless @subject.user.id == current_user.id %>
            <% if subject_superior || admin || subject_manager %>
              <th><%= link_to t('view.share.create'), new_teaching_path(subject_id: @subject.id, user_id: @subject.user.id) %></th>
            <% end %>
          <% end %>
      </tr>

    <% Kaminari.paginate_array(@paginate_teachings).each do |teaching| %>
      <tr>
        <td><%= teaching.date %></td>
        <td><%= teaching.educator %></td>
        <td><%= teaching.title %></td>
        <td><%= link_to t('view.share.show'), teaching_path(teaching.id) %></td>
        <% unless teaching.user.id == current_user.id %>
          <% if subject_superior || admin || subject_manager %>
            <td><%= link_to t('view.share.edit'), edit_teaching_path(teaching.id) %></td>
            <td><%= link_to t('view.share.destroy'), teaching_path(teaching.id),
            method: :delete, data: { confirm: t('view.share.confirm.destroy') } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %> 
    </table>
  </div>
  <div class="education-show-link">
    <p><%= link_to t('helpers.back'), :back %></p>
    <p><%= link_to t('view.subjects.index'), education_path(@subject.education_id) %></p>
  </div>
  <div id="pagenate">
    <p><%= paginate @paginate_teachings %></p>
  </div>
</div>
