<div class="devise-container">
  <div class="login-title">
    <h2>Log in</h2>
  </div>
  <div class="login-notice">
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: 'email', id: 'email-form' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password', id: 'password-form' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="remember-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="login-actions">
      <p>
        <%= f.submit 'log in' ,id: 'login-submit'%>
      </p>
    </div>
  <% end %>
  <div class="forgot">
    <%= render "devise/shared/links" %>
  </div>
</div>
