<div class="teaching-form-container">
  <div class="teaching-form-title">
    <h2><%= t('view.teachings.new_teaching') %></h2>
  </div> 
  <p class="education-notice"><%= notice %></p>
  
  <%= form_with(model: @teaching, local: true) do |form| %>

    <% if @teaching.errors.any? %>
      <div id="error_explanation">
        <h2><%= @teaching.errors.count %>
        <%= t('errors.messages.count') %></h2>
        <ul>

        <% @teaching.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="teaching-form-block">
      <h4><%= t('view.users.name') %></h4>
      <p><%= User.find(params[:user_id]).profile.name %></p>
        <%= form.hidden_field :user_id, :value => params[:user_id] %>
    </div>
    <div class="teaching-form-block">
      <h4><%= t('view.subjects.subject') %></h4>
      <p><%= Subject.find(params[:subject_id]).name %><p>
      <%= form.hidden_field :subject_id, :value => params[:subject_id] %>
    </div>
    <div class="teaching-form-date">
      <p><%= form.label :date %>
      <%= form.date_select :date %></p>
    </div>
    <div class="teaching-form-block">
      <h4><%= form.label :educator %></h4>
      <p><%= form.text_field :educator, id:"teaching-form" %></p>
    </div>
    <div class="teaching-form-block">
      <h4><%= form.label :title %></h4>
      <p><%= form.text_field :title , id:"teaching-form"%></p>
    </div>
    <div class="teaching-form-block">
      <h4><%= form.label :content %></h4>
      <p><%= form.text_area :content ,id:"teaching-area" %></p>
    </div>
    <div class="teaching-form-block">
      <h4><%= form.label :advice %></h4>
      <p><%= form.text_area :advice ,id:"teaching-area" %></p>
    </div>
    <div class="teaching-form-block">
      <h4><%= form.label :remarks %></h4>
      <p><%= form.text_area :remarks ,id:"teaching-area" %></p>
    </div>
    <div class="teaching-form-submit">
      <%= form.submit t('helpers.submit.create') %>
    </div>
  <% end %>
  <div class="teaching-form-link">
    <%= link_to t('helpers.back'), :back %>
  </div>
</div>