<h2><%= t('view.teachings.new_teaching') %></h2>

<%= form_with(model: @teaching, local: true) do |form| %>

  <% if @teaching.errors.any? %>
    <div id="error_explanation">
      <h2><%= @teaching.errors.count %>
      <%= t('errors.messages.count') %></h2>
      <ul>

      <% @teaching.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user_name">
    <%= t('view.users.name') %>
    <br>
    <%= User.find(params[:user_id]).profile.name %>
    <%= form.hidden_field :user_id, :value => params[:user_id] %>
  </div>
  <br>
  <div class="teaching_date">
    <%= form.label :date %>
    <br>
    <%= form.date_select :date %>
  </div>
  <br>
  <div class="teaching_educator">
    <%= form.label :educator %>
    <%= form.text_field :educator %>
  </div>
  <br>
  <div class="subject_name">
    <%= t('view.subjects.subject') %>
    <br>
    <%= Subject.find(params[:subject_id]).name %>
    <%= form.hidden_field :subject_id, :value => params[:subject_id] %>
  </div>
  <br>
  <div class="teaching_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="teaching_content">
    <%= form.label :content %>
    <br>
    <%= form.text_area :content %>
  </div>
  <br>
  <div class="teaching_advice">
    <%= form.label :advice %>
    <br>
    <%= form.text_area :advice %>
  </div>
  <br>
  <div class="teaching_remarks">
    <%= form.label :remarks %>
    <br>
    <%= form.text_area :remarks %>
  </div>

  <%= form.submit t('helpers.submit.create') %>
<% end %>
  <%= link_to t('helpers.back'), :back %>