<h2><%= @user.profile.name %>
<%= t('view.share.conjunction') %>
<%= t('view.educations.index') %></h2>
<p><%= notice %></p>
<br>

<h3><%= t('view.relationships.superior') %></h3>
<% @user.taught.each do |superior| %>
  <tr>
    <td><%= superior.profile.name %><br></td>
  </tr>
<% end %> 

<h3><%= t('view.educations.education') %>
  <% if @user.taught.ids.to_s.include?(current_user.id.to_s) %>
    <% @user.affiliation_divisions.each do |division| %>
      <%= link_to t('view.share.create'), new_education_path(user_id: @user.id, division_id: division.id) %></h3>
    <% end %>
  <% end %>

<table>
<% @user.educations.each do |education| %>
  <tr>
    <td><%= education.name %></td>
    <td><%= link_to t('view.share.show'), education_path(education.id) %></td>
    <% if @user.taught.ids.to_s.include?(current_user.id.to_s) %>
      <td><%= link_to t('view.share.edit'), edit_education_path(education.id) %></td>
      <td><%= link_to t('view.share.destroy'), education_path(education.id),
        method: :delete, data: { confirm: t('view.share.confirm.destroy') } %></td>
    <% end %>
  </tr>
<% end %>
</table>