<h2><%= t('view.educations.new_education') %></h2>

<%= form_with(model: @education, local: true) do |form| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= @education.errors.count %>
      <%= t('errors.messages.count') %></h2>
      <ul>

      <% @education.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="user_name">
    <%= t('view.users.name') %>
    <br>
    <%= User.find(params[:user_id]).profile.name %>
    <%= form.hidden_field :user_id, :value => params[:user_id] %>
  </div>
  <br>
  <div class="division_id">
    <%= form.hidden_field :division_id, :value => params[:division_id] %>
  </div>
  <div class="education_name">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>
    <%= form.fields_for :status, @education.build_status do |status| %>
      <div class="status_purpose">
        <%= status.label :purpose %>
        <br>
        <%= status.text_field :purpose %>
      </div>
      <div class="status_period">
        <%= status.label :education_period %>
        <%= status.date_select :education_period, include_blank: "" %>
        <%= t('view.share.end') %>
      </div>
      <div class="status_created_date">
        <%= status.label :created_date %>
        <%= status.date_select :created_date, include_blank: "" %>
        <%= t('view.share.from') %>
      </div>
      <div class="status_remarks">
        <%= status.label :remarks %>
        <br>
        <%= status.text_area :remarks %>
      </div>
    <% end %>
  <%= form.submit t('helpers.submit.create') %>
<% end %>
<%= link_to t('helpers.back'), :back %>
