<div class="education-show-container">
  <h2><%= @education.user.profile.name %>
    <%= t('view.share.conjunction') %>
    <%= @education.name %>
    <%= t('view.share.page') %></h2>
  <div class="education-notice">
    <p><%= notice %></p>
  </div>
  <div class="show-purpose">
    <h3><%= t('view.statuses.purpose') %></h3>
    <p><%=safe_join(@education.status.purpose.split("\n"),tag(:br))%></p>
  </div>
  <div class="show-created-date">
    <h4><%= t('view.statuses.created_date') %></h4>
    <p><%= @education.status.created_date %>
    <%= t('view.share.from') %></p>
  </div>
  <div class="show-education-period">
  <h4><%= t('view.statuses.education_period') %></h4>
    <p><%= @education.status.education_period %>
    <%= t('view.share.end') %></p>
  </div>
  <div class="education-show-table">
    <table>
      <tr>
        <th><%= t('view.subjects.subject') %></th>
        <th><%= link_to t('view.subjects.status'),education_path(@education.id, sort_status: "true")  %></th>
        <th><%= t('view.subjects.deadline') %></th>
        <% unless @education.user.id == current_user.id %>
          <% if education_superior || admin || education_manager %>
            <th><%= link_to t('view.share.create'), new_subject_path(education_id: @education.id, user_id: @education.user.id) %></th>
          <% end %>
        <% end %>
        <th></th>
      </tr>

      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.status %></td>
          <td><%= subject.deadline %></td>
          <td><%= link_to t('view.share.show'), subject_path(subject.id) %></td>
          <% unless @education.user.id == current_user.id %>
            <% if education_superior || admin || education_manager %>
              <td><%= link_to t('view.share.edit'), edit_subject_path(subject.id) %></td>
              <td><%= link_to t('view.share.destroy'), subject_path(subject.id), method: :delete, data: { confirm: t('view.share.confirm.destroy') } %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="show-remarks">
    <h4><%= t('view.statuses.remarks') %></h4>
    <%=safe_join(@education.status.remarks.split("\n"),tag(:br))%>
  </div>
  <div class="education-show-link">
    <p><%= link_to t('helpers.back'), :back %></p>
    <p><%= link_to t('view.educations.index'), list_education_path(@education.user.id) %></p>
  </div>
</div>