<h2><%= t('view.share.conjunction') %>
<%= @education.name %>
<%= t('view.share.page') %></h2>
<p><%= notice %></p>

<h3><%= t('view.statuses.purpose') %></h3>
<%= @education.status.purpose %>
<h4><%= t('view.statuses.education_period') %></h4>
<%= @education.status.education_period %>
<br>
<br>
<h4><%= t('view.statuses.created_date') %></h4>
<%= @education.status.created_date %>
<br>
<br>

<table>
<tr>
    <th><%= t('view.subjects.subject') %></th>
    <th><%= t('view.subjects.status') %></th>
    <th><%= t('view.subjects.deadline') %></th>
    <th><%= link_to t('view.share.create'), new_subject_path %></th>
</tr>

<% @education.subjects.each do |subject| %>
  <tr>
    <td><%= subject.name %></td>
    <td><%= subject.status %></td>
    <td><%= subject.deadline %></td>
    <td><%= link_to t('view.share.show'), subject_path(subject.id) %></td>
    <td><%= link_to t('view.share.edit'), edit_subject_path(subject.id) %></td>
    <td><%= link_to t('view.share.destroy'), subject_path(subject.id),
      method: :delete, data: { confirm: t('view.share.confirm.destroy') } %></td>
  </tr>
<% end %> 
</table>

<h4><%= t('view.statuses.remarks') %></h4>
<%= @education.status.remarks %>
<br>
<br>

<%= link_to t('helpers.back'), :back %>
<%= link_to t('view.educations.index'), educations_path %>