<!DOCTYPE html>
<html>
  <head>
    <title>Eduka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p>
      <%= link_to t('view.profiles.mypage'),profile_path(current_user.id) %>
      マイ教育ページ
      <%= link_to t('view.profiles.index'),profiles_path %>
      <%= link_to t('view.navigation.logout'), destroy_user_session_path, method: :delete %>
      管理者ページ
      </p>
    <% else %>
      <p>
      .Edukaとは 
      メインメニュー
      <%= link_to t('view.navigation.sign_up'), new_user_registration_path %>
      <%= link_to t('view.navigation.login'), new_user_session_path %>
      </p>
    <% end %>

    <%= yield %>
  </body>
</html>
